.list{
  display: flex;
  justify-content: space-between;
  width:500px;
  list-style: none;
  border-bottom:2px solid red;
  padding: 0;
}
.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.titre{
  position:relative;
}
.titre:hover{
  color:blue
}

.dropdown{
  color: black;
  display:none;
  position: absolute;
  list-style: none;
  width: 150px;
  border:solid yellow;
}
.titre:hover .dropdown{
  display:flex;
  flex-direction: column;
}